/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background: url(assets/kairo2.jpg) no-repeat center center fixed;
  background-size: cover;
  color: hsl(0, 0%, 100%);
  text-shadow: 3px 3px 3px #000000;
  font-family: 'Texturina', serif;
}
.profile-card{
  margin-top: 300px;
  margin-bottom: 100px;
  width:480px;
  max-height: calc(100vw - 80px);
  max-width: calc(100vw - 10px);
  background-color: hsla(0, 0%, 0%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

h1{
  font-size: 2.2em;
  letter-spacing: 2px
}

h2{
  font-size: 1.5em;
}

h3{
  font-size: 1.2em;
}

.content{
  border-top: 1px solid hsla(0, 0%, 30%, .8);
  text-align: justify;
  line-height:1.5em;
}

.head, .links{
  text-align:center;
}

.head, .content{
  width:90%;
  margin: 0 auto;
}

img {
  width:120px;
  border-radius:50%;
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
  margin-top:-30px;
}

.profile-image:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  font-size:2em;
  letter-spacing: 10px;
  line-height:1.5em;
}

.head, .about {
  margin-bottom: 10%;
}

.content {
  padding: 5% 10%;
}

#css-validator{
  border:0;
  width:50px;
  height:20px;
  float:right;
}














